.dashboard__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
.dashboard__summary {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-top: 3rem;
}
.dashboard__chart_div {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
  padding: 5px;
}
