.sidebar {
    height: 100vh;
    padding: 2rem 1rem;
}

/* ---- rtl-ltr styles ---- */
:lang(fa) .sidebar {
    border-left: 1px solid var(--color-gray);
}
:lang(en) .sidebar {
    border-right: 1px solid var(--color-gray);
}