/* ---- google font (inter) ---- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ---- farsi font ---- */
@font-face {
  font-family: 'yekan';
  src: url("./assets/fonts/YekanBakhFaNum-Regular.ttf") format("TrueType"),
      url("./assets/fonts/YekanBakhFaNum-Regular.woff") format("woff");
}

:lang(en) {
  font-family: "Inter", serif;
}
:lang(fa) {
  font-family: 'yekan';
}

:root {
  --color-light: #fff;
  --color-primary: #eb5e28;
  --color-primary-light: #eb5f2838;
  --color-gray: #ddd; 
  --color-gray-dark: #888; 
  --color-dark: #222;
}

/* ---- reset css ---- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---- scrollbar customize ---- */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* ---- global styles ---- */

/* rtl styles */
:lang(fa) body {
  direction: rtl;
}




body {
  background-color: var(--color-light);
}
ul {
  list-style: none;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}